/* Reset Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* System Font Stack */
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Nav styles */
header {
    position: sticky;
    top: 0;
    background-color:bisque;
}

nav {
    display: flex;
    gap: 15px;
    place-self: center;
    padding: 12px;
}

body {
    min-height: 100vh;
    background-color: gray;
}

.home-header {
    background-color: blanchedalmond;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    place-items: center;
    padding-top: 10px;
}

.home-about {
    max-width: 40ch;
    background-color: blanchedalmond;
}

.home-hours {
    background-color: blanchedalmond;
}

.home-location {
    background-color: blanchedalmond;
}